:root {
    --bg-btn: #ff852f;
}

.bg-header {
    background: url(../imgs/bg-header.png) no-repeat;
}

.bg-why-us {
    background: url(../imgs/bg-why-us.png) no-repeat;
    width: 625px;
    height: 667px;
}

.bg-testimonial {
    background: url(../imgs/bg-testimo.png) no-repeat;
}

.bg-footer-1 {
    background: url(../imgs/bg-footer-1.png) no-repeat;
    min-height: 557px;
}

.decorate-01 {
    background: url(../imgs/abstract-01.png) no-repeat;
    width: 289px;
    height: 193px;
    transform: rotate(-12.42deg);
}

.decorate-02 {
    background: url(../imgs/abstract-02.png) no-repeat;
    width: 289px;
    height: 206px;
    transform: rotate(7.56deg);
}

.decorate-03 {
    background: url(../imgs/abstract-03.png) no-repeat;
    width: 289px;
    height: 206px;
}

.decorate-04 {
    background: url(../imgs/abstract-04.png) no-repeat;
    width: 118px;
    height: 118px;
}

.decorate-05 {
    background: url(../imgs/abstract-05.png) no-repeat;
    width: 289px;
    height: 206px;
}

.decorate-06 {
    background: url(../imgs/abstract-06.png) no-repeat;
    width: 293px;
    height: 62px;
}

.decorate-07 {
    background: url(../imgs/abstract-08.png) no-repeat;
    width: 116px;
    height: 32px;
}

.container-header {
    width: 1328px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.icon-scrool-down {
    background: url(../imgs/scrool-down.png);
    width: 73px;
    height: 85px;
}

.icon-mouse {
    background: url(../imgs/mouse.png);
    width: 56px;
    height: 56px;
}

.clip-path {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 95%);
}

.clip-path-2 {
    clip-path: polygon(0 1%, 100% 0, 100% 95%, 0% 100%);
}

.clip-path-3 {
    clip-path: polygon(0 1%, 100% 10%, 100% 100%, 0% 100%);
}

.clip-path-4 {
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-path-5 {
    clip-path: polygon(0 1%, 90% 0, 100% 100%, 7% 100%);
}

.btn-play:hover .icon-play {
    transform: scale(1.6);
    transition: all 0.3s;
}
