:root {
    --bg-btn: #ff852f;
}

.bg-header {
    background: url(../imgs/bg-header.png) no-repeat;
}

.decorate-01 {
    background: url(../imgs/abstract-01.png) no-repeat;
    transform: rotate(-12.42deg);
}

.container-header {
    width: 1328px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}
